{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for p in product %}
    <div class="media">
        <div class="media-body">
        <h5 class="mt-0"><a href="{{ url_for('products.product_detail', product_name=p.product_name) }}">
            {{ p.product_name }}</a>
            <small> Price: $ {{ p.price }} </small>
            <!--<small> id: {{ p.id }}</small>-->
            <small class="float-right"> Sold by: {{ p.seller_name }}</small></h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}